{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
<title>Fakebook - Search</title>
{% endblock %}

{% block body %}

 <!-- Community Header -->
 <div class="community-header">
    <h1>Fakebook Community</h1>
</div>

 <!-- Search Bar -->
<div class="search-container">
    <form action="/search" method="get">
        <input type="text" placeholder="Search for users..." name="query" class="search-input">
        <button type="submit" class="search-btn">Search</button>
    </form>
</div>


<!-- Serach Results -->
<div class="search-results">
    <!-- Search results will appear here -->
</div>
{% endblock %}
