/* Hero content styles */
.hero {
    background-image: url('../img/hero-background.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Ensure no repeat */
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center;
    color: white;
    padding: 0; /* Remove any extra padding */
}


.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #47b327;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #79bc64;
}