{% extends 'auth/base.html' %}

{% block title %}Fakebook - Login{% endblock %}

{% block head %} 
    {% load static %} <link rel="stylesheet" type="text/css" href="{% static 'auth/css/login.css' %}">
{% endblock %}

{% block body %}
<section class="login">
    <div class="login-container">
        <div class="login-form">
            <h2>Login</h2>
            <form method="post" action="{% url 'login-page' %}" id="loginForm" message-box="login-message-box">
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="Password" required>

                <button type="submit">Login</button>
                <div id="login-message-box" class="message-box"></div>

                <a href="{% url 'register-page' %}" class="sub-link">Don't have an account?</a>
                <a href="" class="sub-link">Forgot password?</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
