{% extends 'auth/base.html' %}

{% block title %}Fakebook - Register{% endblock %}

{% block head %} 
    {% load static %} <link rel="stylesheet" type="text/css" href="{% static 'auth/css/register.css' %}">
{% endblock %}

{% block body %}
<section class="register">
    <div class="register-container">
        <div class="register-form">
            <h2>Register</h2>
            <form id="registerForm" message-box="register-message-box">
                <input type="email" id="email" placeholder="Email or phone number" required>
                <input type="password" id="password" placeholder="Password" required>

                <button type="submit">Register</button>
                <div id="register-message-box" class="message-box"></div>

                <a href="" class="sub-link">Already have an account?</a>
                <a href="" class="sub-link">Forgot password?</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
