{% extends 'auth/base.html' %}

{% block title %}Fakebook - Register{% endblock %}

{% block head %} 
    {% load static %} <link rel="stylesheet" type="text/css" href="{% static 'auth/css/register.css' %}">
{% endblock %}

{% block body %}
<section class="register">
    <div class="register-container">
        <div class="register-form">
            <h2>Register</h2>
            <form method="post" action="{% url 'register-page' %}" id="registerForm" message-box="register-message-box">
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="Password" required>

                <input type="text" name="first_name" id="first_name" placeholder="First name" required>
                <input type="text" name="last_name" id="last_name" placeholder="Last name" required>

                <button type="submit">Register</button>
                <div id="register-message-box" class="message-box"></div>

                <a href="{% url 'login-page' %}" class="sub-link">Already have an account?</a>
                <a href="" class="sub-link">Forgot password?</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
